<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Tenemos justo lo que necesitas!</h2>
                <hr class="light">
                <p class="text-faded">Accede desde la comodidad de tu hogar a sesiones de psicoterapia, coaching, yoga, mindfullness, meditación, fitness y mucho más</p>
                <p class="text-faded">Estás a un test de averiguar qué servicio se adapta mejor a ti</p>
                <a href="#" class="btn btn-default btn-xl">¡Empezar Test!</a>
            </div>
        </div>
    </div>
</section>
