<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Una plataforma hecha para ti</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Contacto Inmediato</h3>
                    <p class="text-muted">Estaremos ahí cuando necesites primeros auxilios psicológicos </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Disfruta</h3>
                    <p class="text-muted">Cuando tú estás bien tu entorno lo nota, invierte en tu salud mental </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Test de recreación</h3>
                    <p class="text-muted">Averigua qué servicio te recomendamos para mejorar tu salud mental</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>El mejor precio</h3>
                    <p class="text-muted">Una suscripción, sin costos adicionales</p>
                </div>
            </div>
        </div>
    </div>
</section>
